/*------------- head----------- */
.head {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: rgb(247, 247, 23);
}



.info {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.2em;
    cursor: pointer;
}

.info  a{
    text-decoration: none;
    color: gray;
}

.info a:hover {
    color: black;
}


.info li{
   margin-right: 15px;
}

.socials i{
    margin-right: 40px;
    font-size: 2.2em;
    cursor: pointer;
}

.login button{
    border: none;
    background: none;
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
    color: gray;
}
.login button:hover{
    color: black;
}
.login i{
    color: gray;
    font-size: 1.2em;
    margin-right: 1em;
}

/*-------------------- Search --------------------*/
.search{
    width: 100%;
    padding: 15px 0;
    background-color: white;
    border-bottom: 1px solid #f7f7f7;
}

.search-box {
    width: 360px;
    height: 35px;
    padding: 3px 3px;
    border: 1px solid gray;
    border-radius: 15px;
}

.search-box input{
    width: 90%;
    border: none;
    margin-left: 10px;
    font-size: 1em;
}

.logo{
    cursor: pointer;
}

.cart a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.cart i {
    font-size: 1.8em;
    color: gray;
}

.bag-quantity span {
    margin: auto auto;
    font-size: 1.2em;
    color: gray;
}

.bag-quantity {
    margin-right: 1.2em;
    margin-left: 0.1em;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    background: yellow;
    border-radius: 50%;
}

/*-------------------- Navbar --------------------*/
.categories_nav {
    margin: auto;
    width: 70%;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    display: flex;
    list-style: none;
    font-size: 1.3em;
   
}

.categories_nav a{
    margin-top: 1rem;
    cursor: pointer;
}

.categories_nav  a {
    margin-right: 1.2em;
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    font-size: 1.3em;
}

.categories_nav  a:hover{
   color:black;
   border-bottom: 1px solid black ;
}
